$color-main: #bdd7ee;
$color-rcn-red: #df144c;
$color-rcn-blue: #014990;
$color-nmc-pink: #d10173;
$color-nmc-blue: #00334c;

$primary-text: hsl(0, 0, 13%);
$secondary-text: hsl(0, 0, 29%);
$tertiary-text: hsl(0, 0, 45%);