.content {
  max-width: 1190px;
  padding-bottom: 6rem;
  min-height: 70rem;

  .cpd {

    h2 {
      margin-top: 4rem;
      margin-bottom: 1rem;
    }
  }

  table {
    &:not(:last-child) {
      width: 100%;
    }

    border-collapse: collapse;

    &, th, td {
      border: 1px solid black;
    }

    th, td {
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 1.4rem;
    }

    td {
    }
  }
}
